- layerTypes = {}
- layerTypes.oth = 'other (ignore)'
- layerTypes.fcu = 'front copper'
- layerTypes.fsm = 'front soldermask'
- layerTypes.fss = 'front silkscreen'
- layerTypes.bcu = 'back copper'
- layerTypes.bsm = 'back soldermask'
- layerTypes.bss = 'back silkscreen'
- layerTypes.int = 'internal copper'
- layerTypes.out = 'board outline'
- layerTypes.drl = 'drill hits'

mixin aNew(h)
  a(href=h target='_blank' class!=attributes.class)
    block
mixin a(h)
  a(href=h class!=attributes.class)
    block

doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title svgerber

    // vendor css (octicons)
    link(href='vendor.css' rel='stylesheet')
    // app css
    link(href='app.css' rel='stylesheet')

  body
    nav(roll='navigation')#main-nav.Nav
      a.Nav-brand(href='#') svgerber
        small= ' (alpha!)'
      ul.Nav-list
        li#nav-upload.is-active
          +a('#upload-input').Nav--link
            span.octicon.octicon-cloud-upload= ' upload'
        li#nav-layers.disabled
          +a('#file-list').Nav--link
            span.octicon.octicon-list-unordered= ' layers'
        li#board-output.disabled
          +a('#layer-output').Nav--link
            span.octicon.octicon-circuit-board= ' svgs'
        li#nav-source
          +aNew('http://github.com/mcous/svgerber').Nav--link
            span.octicon.octicon-mark-github= ' source'

    .Content
      #information.Container
        h2 what is this?
        p
          | This page will take your Gerber and drill files for printed circuit
          | board fabrication and convert them into web-friendly SVG image files
          | for viewing and download. It's in alpha and there's bugs. It's most
          = ' thoroughly tested on files from KiCad. Run into problems? '
          +aNew('https://github.com/mcous/svgerber/issues')= 'Open an issue'
          = ' with the file attached. Enjoy!'

      #upload-input.Container
        #caution
          h2 let's do this thing
            small= ", but let's also be aware that some things might not work:"
          ul
            li old files with deprecated Gerber commands could confuse it
            li step and repeat probably won't work

        #sample
          h3 don't have and gerbers handy?
          button(type='button')#sample-button.Btn
            = 'click this big button to load a sample set'
          p
            = '(courtesy of '
            +aNew("https://github.com/wileycousins/clockblock")= 'the clockblock'
            = ')'

        #upload.Dropzone
          span.mega-octicon.octicon-circuit-board
            = ' drop your gerbers here'
          label(for='upload-select').Btn
            = '...or select files'
          input#upload-select(type='file' name='upload-select' multiple)

      output(for='upload')#file-list.Container.UploadList
        ul
          li.UploadList--item.is-js-template
            span.UploadList--filename= 'filename '
            span.octicon.octicon-chevron-right
            span.UploadList--text= ' layer type: '
            select.UploadList--LayerSelect.is-js-template
              each val, key in layerTypes
                option(value=key)= val

        button(type='button' disabled='disabled')#convert-button.Btn
          = 'svg!'

      mixin layerContainerContents(longLayer, shortLayer)
        h2.LayerHeading= longLayer
        div.LayerDrawing(id=shortLayer): p File not uploaded for this layer
        button(type='button' disabled='disabled').Btn.Btn--download.is-disabled
          a(download="#{shortLayer}.svg" href-lang='image/svg+xml' href='#')
            = 'download svg'

      output(for='file-list')#board-output.Container
        .BoardContainer.is-js-template
          +layerContainerContents('template', 'temp1')

      output(for='file-list')#layer-output.Container
        .LayerContainer.is-js-template
          +layerContainerContents('template', 'temp2')

    // vendor bundle (jQuery)
    //script(src='vendor.js')
    // app bundle
    //script(src='app.js')

  footer.Foot
    +aNew('http://octicons.github.com/').Foot--link
      = "uses github's octicons"
    +aNew('http://github.com/mcous/svgerber/blob/master/LICENSE.md').Foot--cr
      = 'copyright 2014 by michael cousins'
