mixin aNew(h)
  a(href=h target='_blank' class!=attributes.class)
    block
mixin a(h)
  a(href=h class!=attributes.class)
    block

doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title svgerber

    // vendor css (octicons)
    link(href='vendor.css' rel='stylesheet')
    // app css
    link(href='app.css' rel='stylesheet')

  body
    - github = 'https://github.com/mcous/svgerber/blob/master/README.md'
    nav(roll='navigation')#main-nav.Nav
      ul.List-unstyled.Nav-list
        li#nav-top.Nav--linkButton
          +a('#').Nav--link.Nav--brand.mega-octicon.octicon-jump-up
            span.Heading= ' svgerber'
        li#nav-upload.Nav--linkButton.is-active
          +a('#upload-input').mega-octicon.octicon-cloud-upload.Nav--link
            span.Heading= ' upload'
        li#nav-filelist.Nav--linkButton.is-disabled
          +a('#file-list').mega-octicon.octicon-list-unordered.Nav--link
            span.Heading= ' layers'
        li#nav-output.Nav--linkButton.is-disabled
          +a('#layer-output').mega-octicon.octicon-circuit-board.Nav--link
            span.Heading= ' svgs'
        li#nav-about.Nav--linkButton
          +aNew(github).mega-octicon.octicon-info.Nav--link
            span.Heading= ' about'

    .Content
      .Container
        #information
          .Box
            h2 what is this?
            p
              = 'This page will take your '
              strong: +aNew('http://en.wikipedia.org/wiki/Gerber_format') Gerber
              = ' and '
              strong: +aNew('http://en.wikipedia.org/wiki/Excellon') drill
              = ' files and convert them to '
              strong: +aNew('http://en.wikipedia.org/wiki/Scalable_Vector_Graphics')
                = 'SVGs'
              = ' for viewing/download. Run into problems™? '
              +aNew('https://github.com/mcous/svgerber/issues')= 'Open an issue'
              = ' with the file attached.'

        #caution
          .Box
            h2 let's do this thing
              small.SubHeading <br>(but it could get weird)
            ul
              li older files could confuse the library
              li step and repeat probably won't work

        #sample
          .Box
            h2 no gerbers handy?
            button(type='button')#sample-btn.Btn.Btn-lg
              = 'load a sample set'
            p
              = '(courtesy of '
              +aNew("https://github.com/wileycousins/clockblock")= 'the clockblock'
              = ')'

      #upload.Container
        #dropzone
          .Container
            span.DropzoneContents.mega-octicon.octicon-circuit-board
              span.Heading= ' drop your gerbers here'
            .DropzoneContents
              label(for='upload-select')#upload-select-btn.Btn.Dropzone--btn
                = 'or select files'
              button(type='button')#url-paste-btn.Dropzone--btn.Btn
                = 'or paste github urls'
            input#upload-select(type='file' name='upload-select' multiple)
          form#url-paste-form.Box.is-hidden
            - ph = 'paste the urls (one per line) to a gerber file on github\nfor example:\n  https://github.com/mcous/reflow/blob/master/pcb/plotted/gerber/reflow-pcb-F_Cu.gtl'
            textarea#url-paste(name='url-paste' placeholder=ph cols='45' rows='10')
            button(name='url-paste-submit-btn' type='button').Btn ok
            button(name='url-paste-cancel-btn' type='button').Btn cancel

        output(for='upload')#file-list.UploadList
          ul.List-unstyled
            li.Box.UploadList--item.is-js-template
              span.UploadList--filename.Heading
                = 'potentially-long-filname.gerber.gerber.gbr '
              span.UploadList--select
                span.mega-octicon.octicon-chevron-right
                span.UploadList--text.Heading= ' layer type: '
                select.UploadList--SelectMenu.UploadList--text
                  option(value='oth') other (ignore)

        button(type='button' disabled='disabled')#convert-btn.Btn
          = 'svg!'

      mixin layerContainerContents(name)
        h2.LayerHeading= name
        div.LayerDrawing
          img(src='http://placekitten.com/g/300/300').LayerImage

      .Row#board-output-row
        output(for='file-list')#board-output.is-hidden
          .BoardContainer.is-js-template
            +layerContainerContents('board-template')

      .Row#layer-output-row
        output(for='file-list')#layer-output.is-hidden
          .LayerContainer.is-js-template
            +layerContainerContents('layer-template')

    footer.Foot
      .Foot--links
        +aNew('http://octicons.github.com/')
          = "uses github's octicons"
        +aNew('http://cousins.io')
          = 'built by mike cousins'

    // app bundle
    script(src='app.js')
