mixin aNew(h)
  a(href=h target='_blank' class!=attributes.class)
    block
mixin a(h)
  a(href=h class!=attributes.class)
    block

doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title svgerber

    // vendor css (octicons)
    link(href='vendor.css' rel='stylesheet')
    // app css
    link(href='app.css' rel='stylesheet')

  body
    - github = 'https://github.com/mcous/svgerber/blob/master/README.md'
    nav(roll='navigation')#main-nav.Nav
      ul.List-unstyled.Nav-list
        li#nav-top.Nav--linkButton
          +a('#').Nav--link.Nav--brand.mega-octicon.octicon-jump-up
            span.Heading= ' svgerber'
        li#nav-upload.Nav--linkButton
          +a('#information').mega-octicon.octicon-cloud-upload.Nav--link
            span.Heading= ' upload'
        li#nav-filelist.Nav--linkButton.is-disabled
          +a('#file-list').mega-octicon.octicon-list-unordered.Nav--link
            span.Heading= ' files'
        li#nav-output.Nav--linkButton.is-disabled
          +a('#board-output').mega-octicon.octicon-circuit-board.Nav--link
            span.Heading= ' boards'
        li#nav-layers.Nav--linkButton.is-disabled
          +a('#layer-output').mega-octicon.octicon-versions.Nav--link
            span.Heading= ' layers'
        li#nav-about.Nav--linkButton
          +aNew(github).mega-octicon.octicon-info.Nav--link.Nav--noScroll
            span.Heading= ' about'

    #svgerber-app.Content
      .Container
        .Box#information
          .AlignedContent
            h2 what is this?
            p
              = 'This is a '
              strong: +aNew('http://en.wikipedia.org/wiki/Gerber_format') Gerber
              = ' and '
              strong: +aNew('http://en.wikipedia.org/wiki/Excellon') drill
              = ' file viewer that works by converting your files to '
              strong: +aNew('http://en.wikipedia.org/wiki/Scalable_Vector_Graphics')
                = 'SVGs'
              = ' for examination / download. Problems™? '
              +aNew('https://github.com/mcous/svgerber/issues')= 'Open an issue'
              = ' with the file attached!'

        .Box#caution
          .AlignedContent
            h2 let's do this thing
              small.SubHeading <br>(but it could get weird)
            p
              strong= 'Beta software! '
              +aNew('http://github.com/mcous/gerber-to-svg')
                = 'The gerber to svg library'
              = ' should produce the correct image, but it might not.'

        .Box#sample
          .AlignedContent
            h2 no gerbers handy?
            button(type='button')#sample-btn.Btn.Btn-lg
              = 'load a sample set'
            p
              = '(courtesy of '
              +aNew("https://github.com/wileycousins/clockblock")= 'the clockblock'
              = ')'

      #upload.Container
        #dropzone
          .AlignedContainer
            span.DropzoneContents.mega-octicon.octicon-circuit-board
              span.Heading= ' drop your gerbers here'
            .DropzoneContents
              label(for='upload-select')#upload-select-btn.Btn.Dropzone--btn
                = 'or select files'
              button(type='button')#url-paste-btn.Dropzone--btn.Btn
                = 'or paste github urls'
            input#upload-select(type='file' name='upload-select' multiple)
          form#url-paste-form.is-hidden
            - ph = 'paste the urls (one per line) to a gerber file on github\nfor example:\n  https://github.com/mcous/reflow/blob/master/pcb/plotted/gerber/reflow-pcb-F_Cu.gtl'
            textarea#url-paste(name='url-paste' placeholder=ph cols='50' rows='10')
            button(name='url-submit' type='button')#url-submit-btn.Btn ok
            button(name='url-cancel' type='button')#url-cancel-btn.Btn cancel

        output(for='upload')#filelist-output.UploadList
          ul#filelist.List-unstyled

          //- button(type='button' disabled='disabled')#convert-btn.Btn
          //-   = 'convert!'

      #board-output-row.Row
        output(for='filelist')#board-output

        //- #board-output-color.Container.is-retracted
        //-   #board-download.Box
        //-     h3 download
        //-     #board-download-buttons.Container
        //-       a(download='top.svg' href-lang='image/svg+xml' href='#' target='_blank')#download-top-btn.Btn.is-disabled
        //-         = 'top'
        //-       a(download='bottom.svg' href-lang='image/svg+xml' href='#' target='_blank')#download-bottom-btn.Btn.is-disabled
        //-         = 'bottom'
        //-   #board-cu-color.Box.ColorPicker
        //-     h3 copper finish
        //-     #board-cu-color-buttons.Container
        //-       button(type='button').Btn.ColorPicker--btn.is-js-template color
        //-   #board-sm-color.Box.ColorPicker
        //-     h3 soldermask
        //-     #board-sm-color-buttons.Container
        //-       button(type='button').Btn.ColorPicker--btn.is-js-template color
        //-   #board-ss-color.Box.ColorPicker
        //-     h3 silkscreen
        //-     #board-ss-color-buttons.Container
        //-       button(type='button').Btn.ColorPicker--btn.is-js-template color
        //- button(name='board-color-btn' type='button').Btn.Btn-lg
        //-   = 'download boards / change colors'

      #layer-output-row.Row
        output(for='filelist')#layer-output

    footer.Foot
      .Foot--links
        +aNew('http://octicons.github.com/')
          = "uses github's octicons"
        +aNew('http://cousins.io')
          = 'built by mike cousins'

    // templates
    include ./filelist-item-template.jade
    include ./board-layer-template.jade
    //include ./board-render-template.jade

    // vendor bundle (jquery)
    script(src='vendor.js')
    // app bundle
    script(src='app.js')
