mixin aNew(h)
  a(href=h target='_blank' class!=attributes.class)
    block
mixin a(h)
  a(href=h class!=attributes.class)
    block

doctype html
html(lang="en")

  head
    meta(name='description' content='A web based Gerber viewer that generates SVGs')
    meta(name='author' content='Mike Cousins')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    title= 'svgerber'

    // vendor css
    link(href='vendor.css' rel='stylesheet')
    // app css
    link(href='app.css' rel='stylesheet')

  body#svgerber-app
    - github = 'https://github.com/mcous/svgerber/blob/master/README.md'
    nav(roll='navigation')#main-nav.Nav
      ul.List-unstyled.Nav-list
        li#nav-top.Nav--linkButton
          +a('#restart').Nav--link.Nav--brand.mega-octicon.octicon-jump-up
            span.Heading= ' svgerber'
        li#nav-upload.Nav--linkButton
          +a('#upload-files').mega-octicon.octicon-cloud-upload.Nav--link
            span.Heading= ' upload'
        li#nav-filelist.Nav--linkButton.is-disabled
          +a('#file-list').mega-octicon.octicon-list-unordered.Nav--link
            span.Heading= ' files'
        li#nav-output.Nav--linkButton.is-disabled
          +a('#board-renders').mega-octicon.octicon-circuit-board.Nav--link
            span.Heading= ' boards'
        li#nav-layers.Nav--linkButton.is-disabled
          +a('#layer-drawings').mega-octicon.octicon-versions.Nav--link
            span.Heading= ' layers'
        li#nav-about.Nav--linkButton
          +aNew(github).mega-octicon.octicon-info.Nav--link.Nav--noScroll
            span.Heading= ' about'

    .Content.restart-anchor
      .Container
        .Box#information
          .AlignedContent
            h2 what is this?
            p
              = 'This is a '
              strong: +aNew('http://en.wikipedia.org/wiki/Gerber_format') Gerber
              = ' and '
              strong: +aNew('http://en.wikipedia.org/wiki/Excellon') drill
              = ' file viewer that works by converting your files to '
              strong: +aNew('http://en.wikipedia.org/wiki/Scalable_Vector_Graphics')
                = 'SVGs'
              = ' for examination / download. Problems™? '
              +aNew('https://github.com/mcous/svgerber/issues')= 'Open an issue'
              = ' with the file attached!'

        .Box#caution
          .AlignedContent
            h2 let's do this thing
              small.SubHeading <br>(but it could get weird)
            p
              strong= 'Beta software! '
              +aNew('http://github.com/mcous/gerber-to-svg')
                = 'The gerber to svg library'
              = ' should produce the correct image, but it might not.'

        .Box#sample.upload-files-anchor
          .AlignedContent
            h2 no gerbers handy?
            button(type='button')#sample-btn.Btn.Btn-lg
              = 'load a sample set'
            p
              = '(courtesy of '
              +aNew("https://github.com/wileycousins/clockblock")= 'the clockblock'
              = ')'

      #upload.Container
        #dropzone
          .AlignedContainer
            span.DropzoneContents.mega-octicon.octicon-circuit-board
              span.Heading= ' drop your gerbers here'
            .DropzoneContents
              label(for='upload-select')#upload-select-btn.Btn.Dropzone--btn
                = 'or select files'
              button(type='button')#url-paste-btn.Dropzone--btn.Btn
                = 'or paste github urls'
            input#upload-select(type='file' name='upload-select' multiple)
          form#url-paste-form.is-hidden
            - ph = 'Paste the URLs (one per line) to a Gerber file on GitHub. For example: https://github.com/mcous/reflow/blob/master/pcb/plotted/gerber/reflow-pcb-F_Cu.gtl'
            textarea#url-paste(name='url-paste' placeholder=ph cols='50' rows='10')
            button(name='url-submit' type='button')#url-submit-btn.Btn ok
            button(name='url-cancel' type='button')#url-cancel-btn.Btn cancel

        output(for='upload')#filelist-output.UploadList.file-list-anchor
          ul#filelist.List-unstyled

      #board-output-row.Row
        output(for='filelist')#board-output.board-renders-anchor

      #layer-output-row.Row
        output(for='filelist')#layer-output.layer-drawings-anchor

    footer.Foot
      .Foot--links
        +aNew('http://octicons.github.com/')
          = "uses github's octicons"
        +aNew('http://cousins.io')
          = 'built by mike cousins'

    // templates
    include ./filelist-item-template.jade
    include ./board-layer-template.jade
    include ./color-picker-template.jade
    include ./modal-template.jade
    include ./unsupported-template.jade

    // vendor bundle
    script(src='vendor.js')
    // app bundle
    script(src='app.js')
    // analytics
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-53156344-1', 'auto');
      | ga('send', 'pageview');
